.add-student {
}
.add-student-form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  justify-content: flex-end;
  padding: .5em;
  width: 650px
}

.form-row > label {
  padding: .5em 1em .5em 0;
  flex: 1;
  font-weight: 700;
}

.form-row > input {
  flex: 2;
}

.form-row > input, button {
  padding: .5em;
}

.form-row > button {
 background: gray;
 color: white;
 border: 0;
}
