@font-face {
  font-family: blacker-sans;
  src: url('../../fonts/blacker-sans-trial.extrabold.ttf');
}

@font-face {
  font-family: segoe-ui;
  src: url('../../fonts/SegoeUI.ttf');
}

.student-grid-container {
  display: grid;
  /* grid-template-columns: 20% 20% 20% 20% 20%; */
  grid-template-columns: 16.667% 16.667% 16.667% 16.667% 16.667% 16.667%;
}

h1.title-all-students {
  font-family: blacker-sans;
  color: #44c6ff;
  display: inline-text;
  margin-right: 30px;
}

.add-student-button {
  margin-top: 2px;
  margin-bottom: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  display: inline-text;
  background-color: #44c6ff;
  border: none;
  border-radius: 10px;
  font-family: blacker-sans;
  color: white;
  font-size: 20px;
}

.add-student-button:hover {
  background-color: #01f5bb;
  border: none;
  cursor: pointer;
}

.top-text {
  display: flex;
  margin-bottom: 20px;
}

a#add-student-button {
  text-decoration: none;
}