@font-face {
  font-family: blacker-sans;
  src: url("../../fonts/blacker-sans-trial.extrabold.ttf");
}

@font-face {
  font-family: segoe-ui;
  src: url("../../fonts/SegoeUI.ttf");
}

img#campus-card {
  margin-right: 20px;
}

.campus-card {
  border: solid 2px #44c6ff;
  height: 130px;
  width: 375px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  &__image {
    margin: 20px 30px 0 0;
    width: 150px;
    /* object-fit: contain; */
    align-self: flex-start;
    margin: auto;
  }
}

.campus-card img {
  width: 130px;
  height: 130px;
  object-fit: cover;
}

.campus-card-info {
  margin-left: 1px;
  margin-top: auto;
  margin-bottom: auto;
}

.campus-card-info h4 {
  margin: 0;
}

.campus-card-info {
  font-family: segoe-ui;
  color: #44c6ff;
}

.campus-card-name {
  text-decoration: none;
  font-weight: bolder;
  font-size: 20px;
  color: #434343;
  font-family: blacker-sans;
}

.campus-card-buttons {
  display: flex;
  font-family: blacker-sans;
}

.campus-card-buttons a {
  color: #01f5bb;
}

/* Edit button/link next to the remove/delete button */
.campus-card-edit {
  margin-right: 30px;
  margin-top: 6px;
}

/* The remove or delete button */
.xbutton {
  background-color: #9b9b9b;
  color: white;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  border: none;
}

.xbutton:hover {
  background-color: #44c6ff;
  border: none;
  cursor: pointer;
}
