@font-face {
  font-family: blacker-sans;
  src: url('../../fonts/blacker-sans-trial.extrabold.ttf');
}

@font-face {
  font-family: segoe-ui;
  src: url('../../fonts/SegoeUI.ttf');
}

h2.single-student-name {
  font-size: 40px;
  margin-top: 0px;
  font-family: blacker-sans;
  color: #434343;
}

.single-student-info a {
  color: #434343;
  text-decoration: underline;
}

.single-student-top {
  display: flex;
  margin-left: 100px;
}

.single-student-bottom-enrolled {
  margin-left: 100px;
}

img .single-student-image {
  width: 300px;
}

.single-student-info {
  margin-left: 70px;
}
.single-student-buttons {
  display: flex;
  font-family: blacker-sans;
  color: white;
  margin-top: 100px;
  margin-left: 230px;
}

.single-student-buttons div {
  padding: 12px 55px 12px 55px;
  border-radius: 5px;
  border: none;
  margin: 10px;
}

.single-student-buttons .edit {
  background: #01f5bb;
}

.single-student-buttons .delete {
  background: #9b9b9b;
}

.single-student-bottom-enrolled {
  display: flex;
  margin-top: 50px;
  /* border: red; */
  /* border-style: solid; */
}

.single-student-bottom-unenrolled {
  text-align: center;
  margin-top: 50px;
  /* border: red; */
  /* border-style: solid; */
}

.single-student-bottom-unenrolled .unenrolled {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  /* border-style: solid; */
}

.unenrolled .bottom .select-container {
  margin-left: auto;
  margin-right: auto;
  /* border-style: solid; */
}

.enrolled .bottom,
.unenrolled .bottom {
  display: flex;
  margin-top: 30px;
}

.enrolled .bottom .campus-card {
  margin-left: 0px;
  margin-top: 0px;
}

.enrolled .bottom .select-container {
  margin-left: 50px;
}

select#single-student-view {
  /* width: 230px;
    height: 50px; */
  font-family: segoe-ui;
  color: #434343;
  background-color: white;
  text-align: center;
  display: flex;
  border-color: #44c6ff;
  border-width: 2px;
  border-radius: 15px 5px 5px 15px;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  margin: 0;
  -webkit-box-appearance: border-box;
  -moz-box-appearance: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select#single-student-view.classic {
  text-align: center;
  background-image:
    /* left half of arrow */ linear-gradient(
      45deg,
      transparent 50%,
      #434343 50%
    ),
    /* right half of arrow */
      linear-gradient(135deg, #434343 50%, transparent 50%),
    linear-gradient(to bottom, #44c6ff, #44c6ff);
  background-position: calc(100% - 21px) calc(1em + 7px),
    calc(100% - 11px) calc(1em + 7px), 100% 0;
  background-size: 10px 10px, 10px 10px, 4em 4.4em;
  background-repeat: no-repeat;
}