@font-face {
  font-family: blacker-sans;
  src: url('../../fonts/blacker-sans-trial.extrabold.ttf');
}

.student-card {
  border: solid 2px #44c6ff;
  width: 180px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  min-height: 180px;
  margin-bottom: 20px;
  font-family: blacker-sans;
  display: inline-block;
}

.image {
  text-align: center;
}

.student-card h3 {
  color: #434343;
  text-align: center;
}

.student-card h4 {
  color: #44c6ff;
  text-align: center;
}

.student-card button {
  border-radius: 50%;
  background-color: #434343;
  width: 30px;
  height: 30px;
  font-family: blacker-sans;
  padding-top: 4px;
  font-size: 15px;
  color: white;
  border: none;
}

.student-card button:hover {
  background-color: #01f5bb;
  border: none;
  cursor: pointer;
}

/* Needs max-width and max-height instead of manually setting the width/height to fit the card properly */
.student-card img {
  text-align: center;
  margin: 0;
  max-width: 100%;
  max-height: 100%;
}
 
.student-card-container {
  text-align: center;
}