/* Fonts */
@font-face {
    font-family: blacker-sans;
    src: url('./fonts/blacker-sans-trial.extrabold.ttf');
}

/* Content Classes */
.navbar {
    background-color: white;
    color: #44c6ff;
    font-size: 1.5rem;
    padding: 1rem; 
    display: flex;
    justify-content: space-between;
    font-family: blacker-sans;
    margin-bottom: 25px;
    margin-top: 10px;
    margin-left: 0px;
    box-shadow: 0 5px 5px -5px #9b9b9b;
}

/* Overrides user agent stylesheet, cannot be in the navbar class */
h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 40px;
}

/* The margin-top is there to attempt to center it with the h1 */
.navbar-links {
    list-style-type: none;
    margin-top: 12px;
}

/* This is how you style the <Link> elements.
    They show up as regular <a> tags.
*/

/* Change default link decorations */
.navbar-links a {
    text-decoration: none;
    font-size: 22px;
}

/* Space the navbar links out */
.navbar-links a:not(:last-child) {
    margin-right: 80px;
}

.navbar-links a:visited {
    color: #44c6ff;
}

.navbar-links a:hover {
    color: #01f5bb
}


