/* Fonts */
@font-face {
    font-family: blacker-sans;
    src: url('./fonts/blacker-sans-trial.extrabold.ttf');
}

@font-face {
    font-family: segoe-ui;
    src: url('./fonts/SegoeUI.ttf');
}

/* Content Classes */
.navbar {
    background-color: white;
    color: #44c6ff;
    font-size: 1.5rem;
    padding: 1rem; 
    display: flex;
    justify-content: space-between;
    font-family: blacker-sans;
    margin-bottom: 0px;
    margin-top: 10px;
    margin-left: 0px;
    box-shadow: 0 5px 5px -5px #222;
}

/* Overrides user agent stylesheet, cannot be in the navbar class */
h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 40px;
}

/* The margin-top is there to attempt to center it with the h1 */
.navbar-links {
    list-style-type: none;
    margin-top: 12px;
}

/* This is how you style the <Link> elements.
    They show up as regular <a> tags.
*/

/* Change default link decorations */


.navbar a {
    text-decoration: none;
    font-size: 22px;
}

/* Space the navbar links out */
.navbar a:not(:last-child) {
    margin-right: 80px;
}

.navbar a:visited {
    color: #44c6ff;
}

.navbar-links a:hover {
    color: #01f5bb
}

/* Home stuff 
    Using "vh" instead of % allowed the footer to stick to the bottom.
*/
.home-body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/*
    Flexbox allows the content of the page to fill the screen.
*/
.home-content {
    flex: 1 0 auto;
    padding: 20px;
    font-family: segoe-ui;
    color: #44c6ff;
    font-size: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
}

.column {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.row img{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Header Stuff */
.header {
    position: relative;
    text-align: center;
    color: #44c6ff;
    font-size: 18px;
}

.centered {
    background-color: white;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    opacity: 95%;
    box-shadow: 0 5px 5px -5px #434343;
    position: absolute;
    font-family: segoe-ui;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img#header {
    opacity: 80%;
}

/* Footer class */
.footer {
    background-color: #434343;
    font-family: segoe-ui;
    padding: 15px;
    color: #44c6ff;
    font-size: 12px;
    letter-spacing: 2px;
    flex-shrink: 0;
}


